*{margin: 0; padding: 0;}
body,html{
    width: 100%;
    height: 100%;
}
#search{
    border-radius: 7px;
    width: 250px;
     background-color: #b3b6b8c4;
     border: 1px solid #b3b6b8c4;
}
.menu{
    width: 100%;
    height: 6%;
    position: fixed;
    z-index: 5;
    background-color: #e1c313;
    border-bottom: 1px solid #333;
    perspective: 200px;
}
.search{
    padding-left: 300px;
    font-size: 20px;
    float: left;
    padding-top: 4px;

}
.icon{
    cursor: pointer;
}
.logo{
    float: left;
    font-size: 29px;
    color: #333;
    padding-left: 250px;
   font-weight: bold;
}
.info{
   width: 10%;
   height: 100%;
   position: absolute;
   top: 0px;
   right: 250px;
   float: right;
   font-size: 24px;
   cursor: pointer;
}
.info ul li{
    list-style: none;
    float: left;
    padding-right: 13px;

}
.info ul li:hover{
    color: black;
}
.nen{
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(images/nen.jpg);
    
   

}
.menu-right{
    width: 17%;
    height: 94%;
    position: fixed;
    z-index: 4;
    float: left;
    top: 6.3%;
    left: 250px;
    background-color: #333;
}
.product{
    width: 49.9%;
    height: 200%;
    position: relative;
    z-index: 4;
    top: 6.3%;
    float: right;
    right: 250px;
    perspective: 200px;
}
.slide{
    width: 100%;
    height: 250px;
}
.tieude{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: 2px solid #3333;
    text-align: center;
}
.menu-right ul li{
    float: left;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 3px;
    background-color: white;
    list-style: none;
}
.menu-right ul li:hover{
    background-color: blue;
}
.hang{
    width: 95.8%;
    height: 150px;
    background-color: #333;
    margin-top: 3px;
    padding-top: 25px;
    padding-left: 35px;
}
.sanpham{
    width: 100%;
    height: 1200px;
    background-color: #333;
    margin-top: 3px;
}
.bottom-menu{
    width: 100%;
    height: 150px;
    background-color: #333;
    margin-top: 3px;
}
.hang .logo1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;

    float: left;
    margin-right: 15px;
}
.hang .logo1:hover{
    width: 110px;
    height: 110px;
}
.hang .logo1 img{
    width: 100%;
}

.the{
    width: 242px;
    height: 340px;
    background-color: #494646;
    float: left;
    margin: 5px;
}
.the:hover{
    transform: translateY(-30px);
}
.the img.anh{
    width: 100%;
    height: 60%;

}

.the .td{
    font-size: 18px;
    color: red;
    padding-left: 4px;
    font-weight: bold;

}
.bottom-menu{
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    font-family: cursive;
}
.ban1{
    width: 95.8%;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #050505;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 3px;
    color: red;
    font-size: 20px;
}
@media(max-width:800px){

#search{
    border-radius: 7px;
    width: 200px;
     background-color: #b3b6b8c4;
     border: 1px solid #b3b6b8c4;
}
.search{
    padding-left: 50px;
    font-size: 14px;
    float: left;
    padding-top: 15px;

    }
.info{
   width: 20%;
   height: 100%;
   position: absolute;
   top: 10px;
   right: 10px;
   float: right;
   font-size: 19px;
   cursor: pointer;
}
.info ul li{
    list-style: none;
    padding-right: 10px;

}
.logo{
    float: left;
    font-size: 29px;
    color: #333;
    padding-left: 80px;
   font-weight: bold;
}
.menu-right{
    width: 17%;
    height: 94%;
    position: fixed;
    z-index: 4;
    float: left;
    top: 6.3%;
    left: 0px;
    background-color: #333;
}
.product{
    width: 90%;
    height: 160%;
    position: relative;
    z-index: 4;
    top: 0%;
    
    background-color: blue;
    left: 9%;
    perspective: 200px;
    overflow: hidden;
}
.product .slide{
    opacity: 0;
    visibility: hidden;
}
.hang{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 3%;
    left: 0px;
    background-color: #333;
     padding-top: 10px!important;
    
   
}
.sanpham{
    width: 100%;
    height: 1390px;
    background-color: #333;
    margin-top: 3px;
    position: absolute;
    top: 6.7%;
    left: 0%;
}
.hang .logo1{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;

    float: left;
    margin-right: 7px;
}
.the{
    width: 219px;
    height: 290px;
    background-color: #494646;
    float: left;
    margin: 5px;
}
.the .td{
    font-size: 15px;
    color: red;
    padding-left: 4px;
    font-weight: bold;

}
.the .mota{
    line-height: 15px;
}
.bottom-menu{
    position: relative;
   top: 1250px;
    left: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    font-family: cursive;
}
}
@media(max-width:568px){
#search{
    border-radius: 7px;
    width: 150px;
     background-color: #b3b6b8c4;
     border: 1px solid #b3b6b8c4;
}
.search{
    padding-left: 5px;
    font-size: 13px;
    float: left;
    padding-top: 15px;

    }
.info{
   width: 20%;
   height: 100%;
   position: absolute;
   top: 10px;
   right: 10px;
   float: right;
   font-size: 19px;
   cursor: pointer;
}
.info ul li{
    list-style: none;
    padding-right: 10px;

}
.logo{
    float: left;
    font-size: 29px;
    color: #333;
    padding-left: 20px;
   font-weight: bold;
}
.menu-right{
    width: 17%;
    height: 94%;
    position: fixed;
    z-index: 4;
    float: left;
    top: 6.3%;
    left: 0px;
    background-color: #333;
}
.product{
    width: 90%;
    height: 200%;
    position: relative;
    z-index: 4;
    top: 0%;
    
    background-color: blue;
    left: 9%;
    perspective: 200px;
    overflow: hidden;
}
.product .slide{
    opacity: 0;
    visibility: hidden;
}
.hang{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 3%;
    left: 0px;
    background-color: #333;
     padding-top: 10px!important;
    
   
}
.sanpham{
    width: 100%;
    height: 1390px;
    background-color: #333;
    margin-top: 3px;
    position: absolute;
    top: 6.7%;
    left: 0%;
}
.hang .logo1{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    overflow: hidden;

    float: left;
    margin-right: 7px;
}
.the{
    width: 155px;
    height: 240px;
    background-color: #494646;
    float: left;
    margin: 5px;
}
.the .td{
    font-size: 15px;
    color: red;
    padding-left: 4px;
    font-weight: bold;

}
.the .mota{
    line-height: 15px; 
}
.bottom-menu{
    position: relative;
   top: 1250px;
    left: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    font-family: cursive;
}
.tieude{
    font-size: 15px;
}
}
